.footer{ 
		position: fixed;
		color: white;
		text-align: left;
		bottom: 10px;
		width: 150%;
   }  
	html {
		height: 100%;
	}
	body { 
    background: url('images/wallpaper.gif') no-repeat center center fixed;
	background-size: cover;
    background-position: center; 
	background-color: black;
	background-repeat:no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	}
	h1 {
		color: white;
		font-family: courier;
		font-size: 7vh;
	}
	h2	{
		color: white;
		font-family: courier;
		font-size: 4vh;
	}
	p	{
		color: white;
		font-family: courier;
		font-size: 3vh;
	}
	#link	{
		position:absolute;
		width:75%;
		color: white;
		font-family: courier;
		font-size: 3vh;
	}