.footer{ 
		position: fixed;
		color: white;
		text-align: left;
		bottom: 10px;
		width: 150%;
   }  
	html {
		height: 100%;
	}
	body { 
    background-image: url('images/wallpaper.gif');
	background-size: cover;
    background-position: center; 
	background-color: black;
	}
	h1 {
		color: white;
		font-family: courier;
		font-size: 7vh;
	}
	h2	{
		color: white;
		font-family: courier;
		font-size: 4vh;
	}
	p	{
		color: white;
		font-family: courier;
		font-size: 3vh;
	}
	#link	{
		color: white;
		font-family: courier;
		font-size: 3vh;
	}